name: golangci-lint
on: [push]
permissions:
  contents: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # ratchet:actions/checkout@v3
      # wait for support go 1.18: https://github.com/golangci/golangci-lint/issues/2649.
      #- name: Extract version of Go to use
      #  run: echo "GOVERSION=$(cat go.mod | grep -w "go" | awk ' { print $2 } ' | grep -w "^[^v]")" >> $GITHUB_ENV
      - uses: actions/setup-go@84cbf8094393cdc5fe1fe1671ff2647332956b1a # ratchet:actions/setup-go@v3
        with:
          go-version: 1.17 #${{ env.GOVERSION }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@537aa1903e5d359d0b27dbc19ddd22c5087f3fbc # ratchet:golangci/golangci-lint-action@v3
        with:
          # Wait for action go 1.18 support
          version: v1.44.2 #v1.45.2
          args: --verbose
