name: Salsa build & release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  VERSION: v0.1
  IMAGE_NAME: ghcr.io/${{ github.repository }}
  COSIGN_VERSION: v1.8.0
  SYFT_VERSION: v0.44.1

jobs:
  set-version:
    runs-on: ubuntu-20.04
    outputs:
      version: ${{ steps.set-version.outputs.version }}
    steps:
      - uses: actions/checkout@v3

      - name: set version
        id: set-version
        run: |
          echo Faking a Semantic Version
          echo ::set-output name=version::${{ env.VERSION }}.$(date "+%Y%m%d%H%M%S")

  test:
    needs:
      - set-version
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Extract version of Go to use
        run: echo "GOVERSION=$(cat go.mod | grep -w "go" | awk ' { print $2 } ' | grep -w "^[^v]")" >> $GITHUB_ENV

      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOVERSION }}

      - name: Cache Go modules
        uses: actions/cache@v3
        id: go-mod-cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Test Salsa
        run: make test

  build:
    outputs:
      cli-tag: ${{ steps.container-tags.outputs.cli-tag }}
      action-tag: ${{ steps.container-tags.outputs.action-tag }}
    if: ${{ github.ref == 'refs/heads/main' }}
    needs:
      - set-version
      - test
    runs-on: ubuntu-20.04
    steps:

      - name: Checkout latest code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Extract version of Go to use
        run: echo "GOVERSION=$(cat go.mod | grep -w "go" | awk ' { print $2 } ' | grep -w "^[^v]")" >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOVERSION }}

      - name: Create tag
        run: |
          git tag ${{ needs.set-version.outputs.version }}

      #      - uses: navikt/github-app-token-generator@v1
      #        id: get-homebrew-token
      #        with:
      #          private-key: ${{ secrets.NAIS_APP_PRIVATE_KEY }}
      #          app-id: ${{ secrets.NAIS_APP_ID }}
      #          repo: nais/homebrew-tap

      - name: Install cosign
        uses: sigstore/cosign-installer@v2.3.0
        with:
          cosign-release: ${{ env.COSIGN_VERSION }}

      - name: Install Syft
        uses: anchore/sbom-action/download-syft@v0.11.0
        with:
          syft-version: ${{ env.SYFT_VERSION }}

      - name: Put key on file
        run: |
          echo '${{ secrets.COSIGN_PRIVATE_KEY }}' > cosign.key

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: v1.8.3
          args: release -f .goreleaser.yml --rm-dist --debug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUSH_TOKEN: ${{ steps.get-homebrew-token.outputs.token }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create tags
        id: container-tags
        run: |
          echo ::set-output name=cli-tag::${{ env.IMAGE_NAME }}:${{ needs.set-version.outputs.version }}
          echo ::set-output name=action-tag::${{ env.IMAGE_NAME }}:${{ env.VERSION }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.container-tags.outputs.cli-tag }},${{ steps.container-tags.outputs.action-tag }}
          labels: version=${{ needs.set-version.outputs.version }},revision=${{ github.sha }}

      - name: Update major/minor version tag
        run: |
          git tag -f ${{ env.VERSION }}
          git push -f origin ${{ env.VERSION }} 

      - name: Clean up
        if: ${{ always() }}
        run: |
          rm -f cosign.key 

  sign-attest:
    needs:
      - build
    runs-on: ubuntu-20.04
    env:
      CLI_IMAGE_TAG: "${{ needs.build.outputs.cli-tag }}"
      ACTION_IMAGE_TAG: "${{ needs.build.outputs.action-tag }}"
    steps:
      - name: Install cosign
        uses: sigstore/cosign-installer@v2.3.0
        with:
          cosign-release: ${{ env.COSIGN_VERSION }}

      - name: Install Syft
        uses: anchore/sbom-action/download-syft@v0.11.0
        with:
          syft-version: ${{ env.SYFT_VERSION }}

      - name: Login to Docker
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Sign Docker image
        run: |
          echo '${{ secrets.COSIGN_PRIVATE_KEY }}' > cosign.key
          cosign sign --key cosign.key ${{ env.CLI_IMAGE_TAG }}
          cosign sign --key cosign.key ${{ env.ACTION_IMAGE_TAG }}
        env:
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}

      - name: Verify and attach attestation
        env:
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
        run: |
          echo '${{ secrets.COSIGN_PUBLIC_KEY }}' > cosign.pub
          cosign verify --key cosign.pub ${{ env.CLI_IMAGE_TAG }}
          syft attest -o spdx-json ${{ env.CLI_IMAGE_TAG }} > sbom.json
          cosign attach attestation --attestation sbom.json ${{ env.CLI_IMAGE_TAG }}
          # cosign verify-attestation -o verified-sbom-spdx.json --key cosign.pub ${{ env.CLI_IMAGE_TAG }}
          
          cosign verify --key cosign.pub ${{ env.ACTION_IMAGE_TAG }}
          syft attest -o spdx-json ${{ env.ACTION_IMAGE_TAG }} > sbom.json
          cosign attach attestation --attestation sbom.json ${{ env.ACTION_IMAGE_TAG }}
          # cosign verify-attestation -o verified-sbom-spdx.json --key cosign.pub ${{ env.ACTION_IMAGE_TAG }}

      - name: Clean up
        if: ${{ always() }}
        run: |
          rm -f cosign.key  
