name: Check pinned workflows
on:
  push:
    paths:
      - '.github/workflows/**'
jobs:
  ratchet:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        asset: [
          main.yml,
          keyless-salsa-integration.yaml,
          service-account-salsa-integration.yml,
          golangci-lint.yml,
          ratchet.yml,
          codeql-analysis.yml
        ]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Check if ${{matrix.asset}} is pinned
        uses: 'docker://ghcr.io/sethvargo/ratchet@sha256:e5b2409be0d1c82c71a6e60c49027e539f4c90636529e4f8b5c25a68b68a36d4' # ratchet:docker://ghcr.io/sethvargo/ratchet:0.3.0
        with:
          args: 'check .github/workflows/${{matrix.asset}}'
          entrypoint: /ratchet
      - name: Checks failed
        if: ${{ failure() }}
        run: |-
          echo see "'https://github.com/sethvargo/ratchet'" for more information.
          echo "'make check workflow=my_workflow.yml'"
          echo "'make update workflow=my_workflow.yml'"
          echo "'make pin workflow=my_workflow.yml'" for new workflow file && exit 1
