name: nais Salsa integration
on:
  workflow_run:
    workflows: [ Salsa build & release ]
    types: [ completed ]
    branches: [ main ]
env:
  IMAGE: ttl.sh/nais/salsa-integration-test:1h
jobs:
  on-failure:
    runs-on: ubuntu-20.04
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: echo 'The triggering workflow failed' && exit 1
  on-success-generate-provenance:
    runs-on: ubuntu-20.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - run: echo 'The triggering workflow passed'
      - name: Checkout Code
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # ratchet:actions/checkout@v3
      # For demonstration purpose
      # Credentials needed to authenticate to google kms and sign image.
      - name: Authenticate to Google Cloud
        id: google
        uses: google-github-actions/auth@ef5d53e30bbcd8d0836f4288f5e50ff3e086997d # ratchet:google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.SALSA_CREDENTIALS }}
      # For demonstration purpose
      - name: Build and push
        id: docker
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5 # ratchet:docker/build-push-action@v3
        with:
          context: integration-test
          push: true
          tags: ${{ env.IMAGE }}
      # Added to a workflow
      - name: Generate provenance, sign and upload image
        id: salsa
        # nais/salsa@v...
        uses: ./
        with:
          registry: ttl.sh
          image_digest: ${{ steps.docker.outputs.digest }}
          key: ${{ secrets.SALSA_KMS_KEY }}
      # For demonstration purpose
      - name: Upload provenance
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # ratchet:actions/upload-artifact@v3
        with:
          path: |-
            ./${{ steps.salsa.outputs.provenance_file_path }}
            ./${{ steps.salsa.outputs.raw_file_path }}
